body{
    margin:0;
}
#wrapper {
    /*max-width: 960px;*/
    background: #fff;
    padding:50px 10px;
    -webkit-font-smoothing:antialiased;
    margin: 0 auto;
}

.image_360_wrapper {
    margin: 20px auto 120px;
    cursor: pointer;
    position: relative;
    text-align: center;
    overflow: hidden;
}

#wrapper .reel-preloader {
    background-color: rgb(193,165,125);
    height: 6px;
    bottom: inherit;
    top: 0;
    overflow: visible;
}

#wrapper .reel-preloader::after {
    content: 'Loading 360...';
    position: absolute;
    color: #333;
    text-align: left;
    width: 300px;
    left: 0;
    font-family: arial, sans-serif;
    font-size: 13px;
    top: 9px;
}

#wrapper .reel img {
    max-width: 100%;
    height: auto;

    display: block;
}

#wrapper .reel {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    overflow: visible;

    width: inherit;
    height: inherit;
    max-width: 100%;
}



#wrapper .image_360_wrapper,
#wrapper img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#wrapper h2{
    color:#333;
    font-size:20px;
    line-height: 1.5em;
    margin:0 auto;
    font-family: "Guardian Egyptian Headline", Georgia, serif;
}

#wrapper p{
    color: #333;
    font-family: "Guardian Egyptian Headline", Georgia, serif;
    font-size:16px;
    margin:0 auto 0;
    line-height:1.5em;
}

#wrapper p, #wrapper header{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-width:620px;
}


#wrapper header p{
    width:100%;
}
.arrow-left {
    position: absolute;
    left: 0;
    background:url(../images/assets/arrow-left.png) no-repeat;
    z-index: 10;
    pointer-events:none;
}

.arrow-right{
    background:url(../images/assets/arrow-right.png) no-repeat;
    position:absolute;
    right: 0;
    pointer-events:none;
    z-index: 10;
}

.arrow {
    z-index: 10;
    pointer-events:none;
    opacity:0.2;
    top:45%;
    width:37px;
    height:64px;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    background-size:18px;
}

.image_360_wrapper:hover .arrow {
    opacity: 0.5;
}




.click2play {
    pointer-events:none;
    position: absolute;
    top: 50%;
    width: 20%;
    left: 40%;
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
    color: rgb(255,255,255);
    text-align: center;
    font-size: 16px;
    font-family:Arial;
    font-weight:bold;
}

.single_item header {
    margin-bottom: 10px;
}

@media (min-width:480px){
    #wrapper p{
        font-size:18px;
    }

}

@media (min-width:940px){

    .arrow-left {
        left:-20px;
    }

    .arrow-right{
        right: -20px;
    }
}