body{
    margin:0;
}
#wrapper {
    /*max-width: 960px;*/
    background: #000;
    padding-top:50px;
     -webkit-font-smoothing:antialiased;
}

.image_360_wrapper {
    max-width: 560px;
    margin: 0 auto 80px;
    cursor: pointer;
    position: relative;
}

#wrapper img {
    width: 100%;
}

#wrapper .reel-preloader {
    background-color: rgb(29, 128, 255);
    height: 3px;
    bottom: inherit;
    top: 0;
}

#wrapper h2{
    color:#fff;
    font-size:20px;
    line-height: 1.5em;
    width:620px;
    margin:0 auto;
    font-family: "Guardian Egyptian Headline", Georgia, serif;
}

#wrapper p{
    color: #fff;
    font-family: "Guardian Egyptian Headline", Georgia, serif;
    font-size:18px;
    width:620px;
    margin:0 auto 0;
    line-height:1.5em;
   
}

.click2play {
    position: absolute;
    top: 50%;
    width: 20%;
    left: 40%;
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
    color: rgb(255,255,255);
    text-align: center;
    font-size: 16px;
    font-family:Arial;
    font-weight:bold;
}